# Gambas Database Template File 3.0
{ Table
  Name="autores"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="aut01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut04"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut05"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut06"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut07"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut08"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut09"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut10"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut11"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut12"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="aut13"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="bibtex"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="bib001"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="Campo2"
    Type=db.Integer
  }
  { Field
    Name="Campo3"
    Type=db.Integer
  }
  { Field
    Name="Campo4"
    Type=db.Integer
  }
  { Field
    Name="Campo5"
    Type=db.Integer
  }
  { Field
    Name="Campo6"
    Type=db.Integer
  }
  { Field
    Name="Campo7"
    Type=db.Integer
  }
  { Field
    Name="Campo8"
    Type=db.Integer
  }
  { Field
    Name="Campo9"
    Type=db.Integer
  }
  { Field
    Name="Campo10"
    Type=db.Integer
  }
  { Field
    Name="Campo11"
    Type=db.Integer
  }
  { Field
    Name="Campo12"
    Type=db.Integer
  }
  { Field
    Name="Campo13"
    Type=db.Integer
  }
  { Field
    Name="Campo14"
    Type=db.Integer
  }
  { Field
    Name="Campo15"
    Type=db.Integer
  }
  { Field
    Name="Campo16"
    Type=db.Integer
  }
  { Field
    Name="Campo17"
    Type=db.Integer
  }
  { Field
    Name="Campo18"
    Type=db.Integer
  }
  { Field
    Name="Campo19"
    Type=db.Integer
  }
  { Field
    Name="Campo20"
    Type=db.Integer
  }
  { Field
    Name="Campo21"
    Type=db.Integer
  }
  { Field
    Name="Campo22"
    Type=db.Integer
  }
  { Field
    Name="Campo23"
    Type=db.Integer
  }
  { Field
    Name="Campo24"
    Type=db.Integer
  }
  { Field
    Name="Campo25"
    Type=db.Integer
  }
  { Field
    Name="Campo26"
    Type=db.Integer
  }
  { Field
    Name="Campo27"
    Type=db.Integer
  }
  { Field
    Name="Campo28"
    Type=db.Integer
  }
  { Field
    Name="Campo29"
    Type=db.Integer
  }
  { Field
    Name="Campo30"
    Type=db.Integer
  }
  { Field
    Name="Campo31"
    Type=db.Integer
  }
  { Field
    Name="Campo32"
    Type=db.Integer
  }
  { Field
    Name="Campo33"
    Type=db.Integer
  }
  { Field
    Name="Campo34"
    Type=db.Integer
  }
  { Field
    Name="Campo35"
    Type=db.Integer
  }
  { Field
    Name="Campo36"
    Type=db.Integer
  }
  { Field
    Name="Campo37"
    Type=db.Integer
  }
  { Field
    Name="Campo38"
    Type=db.Integer
  }
  { Field
    Name="Campo39"
    Type=db.Integer
  }
  { Field
    Name="Campo40"
    Type=db.Integer
  }
  { Field
    Name="Campo41"
    Type=db.Integer
  }
  { Field
    Name="Campo42"
    Type=db.Integer
  }
  { Field
    Name="Campo43"
    Type=db.Integer
  }
  { Field
    Name="Campo44"
    Type=db.Integer
  }
  { Field
    Name="Campo45"
    Type=db.Integer
  }
  { Field
    Name="Campo46"
    Type=db.Integer
  }
  { Field
    Name="Campo47"
    Type=db.Integer
  }
  { Field
    Name="Campo48"
    Type=db.Integer
  }
  { Field
    Name="Campo49"
    Type=db.Integer
  }
  { Field
    Name="Campo50"
    Type=db.Integer
  }
  { Field
    Name="Campo51"
    Type=db.Integer
  }
  { Field
    Name="Campo52"
    Type=db.Integer
  }
  { Field
    Name="Campo53"
    Type=db.Integer
  }
  { Field
    Name="Campo54"
    Type=db.Integer
  }
  { Field
    Name="Campo55"
    Type=db.Integer
  }
  { Field
    Name="Campo56"
    Type=db.Integer
  }
  { Field
    Name="Campo57"
    Type=db.Integer
  }
  { Field
    Name="Campo58"
    Type=db.Integer
  }
  { Field
    Name="Campo59"
    Type=db.Integer
  }
  { Field
    Name="Campo60"
    Type=db.Integer
  }
  { Field
    Name="Campo61"
    Type=db.Integer
  }
  { Field
    Name="Campo62"
    Type=db.Integer
  }
  { Field
    Name="Campo63"
    Type=db.Integer
  }
  { Field
    Name="Campo64"
    Type=db.Integer
  }
  { Field
    Name="Campo65"
    Type=db.Integer
  }
  { Field
    Name="Campo66"
    Type=db.Integer
  }
  { Field
    Name="Campo67"
    Type=db.Integer
  }
  { Field
    Name="Campo68"
    Type=db.Integer
  }
  { Field
    Name="Campo69"
    Type=db.Integer
  }
  { Field
    Name="Campo70"
    Type=db.Integer
  }
  { Field
    Name="Campo71"
    Type=db.Integer
  }
  { Field
    Name="Campo72"
    Type=db.Integer
  }
  { Field
    Name="Campo73"
    Type=db.Integer
  }
  { Field
    Name="Campo74"
    Type=db.Integer
  }
  { Field
    Name="Campo75"
    Type=db.Integer
  }
  { Field
    Name="Campo76"
    Type=db.Integer
  }
  { Field
    Name="Campo77"
    Type=db.Integer
  }
  { Field
    Name="Campo78"
    Type=db.Integer
  }
  { Field
    Name="Campo79"
    Type=db.Integer
  }
  { Field
    Name="Campo80"
    Type=db.Integer
  }
  { Field
    Name="Campo81"
    Type=db.Integer
  }
  { Field
    Name="Campo82"
    Type=db.Integer
  }
  { Field
    Name="Campo83"
    Type=db.Integer
  }
  { Field
    Name="Campo84"
    Type=db.Integer
  }
  { Field
    Name="Campo85"
    Type=db.Integer
  }
  { Field
    Name="Campo86"
    Type=db.Integer
  }
  { Field
    Name="Campo87"
    Type=db.Integer
  }
  { Field
    Name="Campo88"
    Type=db.Integer
  }
  { Field
    Name="Campo89"
    Type=db.Integer
  }
  { Field
    Name="Campo90"
    Type=db.Integer
  }
  { Field
    Name="Campo91"
    Type=db.Integer
  }
  { Field
    Name="Campo92"
    Type=db.Integer
  }
  { Field
    Name="Campo93"
    Type=db.Integer
  }
  { Field
    Name="Campo94"
    Type=db.Integer
  }
  { Field
    Name="Campo95"
    Type=db.Integer
  }
  { Field
    Name="Campo96"
    Type=db.Integer
  }
  { Field
    Name="Campo97"
    Type=db.Integer
  }
  { Field
    Name="Campo98"
    Type=db.Integer
  }
  { Field
    Name="Campo99"
    Type=db.Integer
  }
  { Field
    Name="Campo100"
    Type=db.Integer
  }
  { Field
    Name="Campo101"
    Type=db.Integer
  }
  { Field
    Name="Campo102"
    Type=db.Integer
  }
  { Field
    Name="Campo103"
    Type=db.Integer
  }
  { Field
    Name="Campo104"
    Type=db.Integer
  }
  { Field
    Name="Campo105"
    Type=db.Integer
  }
  { Field
    Name="Campo106"
    Type=db.Integer
  }
  { Field
    Name="Campo107"
    Type=db.Integer
  }
  { Field
    Name="Campo108"
    Type=db.Integer
  }
  { Field
    Name="bib109"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="coleccion"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="col01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="col02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="col03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="conferencias"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="con01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con04"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con05"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con06"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con07"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="con08"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="glosarios"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="glo01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo04"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo05"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo06"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo07"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo08"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo09"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo10"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="glo11"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="journal"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="jou01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="jou02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="jou03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="jou04"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="jou05"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="jou06"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="metadatos"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="met01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met04"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met05"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met06"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met07"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met08"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met09"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met10"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met11"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met12"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met13"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met14"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met15"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met16"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met17"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met18"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met19"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met20"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met21"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met22"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met23"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met24"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met25"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met26"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met27"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met28"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met29"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="met30"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="Campo31"
    Type=db.Integer
  }
  { Field
    Name="Campo32"
    Type=db.Integer
  }
  { Field
    Name="Campo33"
    Type=db.Integer
  }
  { Field
    Name="Campo34"
    Type=db.Integer
  }
  { Field
    Name="Campo35"
    Type=db.Integer
  }
  { Field
    Name="Campo36"
    Type=db.Integer
  }
  { Field
    Name="Campo37"
    Type=db.Integer
  }
  { Field
    Name="Campo38"
    Type=db.Integer
  }
  { Field
    Name="Campo39"
    Type=db.Integer
  }
  { Field
    Name="Campo40"
    Type=db.Integer
  }
  { Field
    Name="Campo41"
    Type=db.Integer
  }
  { Field
    Name="Campo42"
    Type=db.Integer
  }
  { Field
    Name="Campo43"
    Type=db.Integer
  }
  { Field
    Name="Campo44"
    Type=db.Integer
  }
  { Field
    Name="Campo45"
    Type=db.Integer
  }
  { Field
    Name="Campo46"
    Type=db.Integer
  }
  { Field
    Name="Campo47"
    Type=db.Integer
  }
  { Field
    Name="Campo48"
    Type=db.Integer
  }
  { Field
    Name="Campo49"
    Type=db.Integer
  }
  { Field
    Name="Campo50"
    Type=db.Integer
  }
  { Field
    Name="Campo51"
    Type=db.Integer
  }
  { Field
    Name="Campo52"
    Type=db.Integer
  }
  { Field
    Name="Campo53"
    Type=db.Integer
  }
  { Field
    Name="Campo54"
    Type=db.Integer
  }
  { Field
    Name="Campo55"
    Type=db.Integer
  }
  { Field
    Name="Campo56"
    Type=db.Integer
  }
  { Field
    Name="Campo57"
    Type=db.Integer
  }
  { Field
    Name="Campo58"
    Type=db.Integer
  }
  { Field
    Name="Campo59"
    Type=db.Integer
  }
  { Field
    Name="Campo60"
    Type=db.Integer
  }
  { Field
    Name="Campo61"
    Type=db.Integer
  }
  { Field
    Name="Campo62"
    Type=db.Integer
  }
  { Field
    Name="Campo63"
    Type=db.Integer
  }
  { Field
    Name="Campo64"
    Type=db.Integer
  }
  { Field
    Name="Campo65"
    Type=db.Integer
  }
  { Field
    Name="Campo66"
    Type=db.Integer
  }
  { Field
    Name="Campo67"
    Type=db.Integer
  }
  { Field
    Name="Campo68"
    Type=db.Integer
  }
  { Field
    Name="Campo69"
    Type=db.Integer
  }
  { Field
    Name="Campo70"
    Type=db.Integer
  }
  { Field
    Name="Campo71"
    Type=db.Integer
  }
  { Field
    Name="Campo72"
    Type=db.Integer
  }
  { Field
    Name="Campo73"
    Type=db.Integer
  }
  { Field
    Name="Campo74"
    Type=db.Integer
  }
  { Field
    Name="Campo75"
    Type=db.Integer
  }
  { Field
    Name="Campo76"
    Type=db.Integer
  }
  { Field
    Name="Campo77"
    Type=db.Integer
  }
  { Field
    Name="Campo78"
    Type=db.Integer
  }
  { Field
    Name="Campo79"
    Type=db.Integer
  }
  { Field
    Name="Campo80"
    Type=db.Integer
  }
  { Field
    Name="Campo81"
    Type=db.Integer
  }
  { Field
    Name="Campo82"
    Type=db.Integer
  }
  { Field
    Name="Campo83"
    Type=db.Integer
  }
  { Field
    Name="Campo84"
    Type=db.Integer
  }
  { Field
    Name="Campo85"
    Type=db.Integer
  }
  { Field
    Name="Campo86"
    Type=db.Integer
  }
  { Field
    Name="Campo87"
    Type=db.Integer
  }
  { Field
    Name="Campo88"
    Type=db.Integer
  }
  { Field
    Name="Campo89"
    Type=db.Integer
  }
  { Field
    Name="Campo90"
    Type=db.Integer
  }
  { Field
    Name="Campo91"
    Type=db.Integer
  }
  { Field
    Name="Campo92"
    Type=db.Integer
  }
  { Field
    Name="Campo93"
    Type=db.Integer
  }
  { Field
    Name="Campo94"
    Type=db.Integer
  }
  { Field
    Name="Campo95"
    Type=db.Integer
  }
  { Field
    Name="Campo96"
    Type=db.Integer
  }
  { Field
    Name="Campo97"
    Type=db.Integer
  }
  { Field
    Name="Campo98"
    Type=db.Integer
  }
  { Field
    Name="met99"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="patrocinio"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="pat01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="pat02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="publisher"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="pub01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="pub02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="pub03"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
{ Table
  Name="user"
  Type="InnoDB"
  PrimaryKey=["id"]
  { Field
    Name="id"
    Type=db.Integer
  }
  { Field
    Name="use01"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
  { Field
    Name="use02"
    Type=db.String
    Collation="utf8mb4_unicode_ci"
  }
}
